
<a id="formulaire_forum" name="formulaire_forum"></a>

<form action="#ENV{url}#formulaire_forum" method="post">
[(#ENV{url_post}|form_hidden)]
[<input type="hidden" name="arg" value="(#ENV{arg})">]
[<input type="hidden" name="hash" value="(#ENV{hash})">]
[<input type="hidden" name="verif_(#ENV{hash})" value="ok">]
[<input type="hidden" name="afficher_texte" value="(#ENV{afficher_texte})">]
[<input type="hidden" name="retour_forum" value="(#ENV*{retour_forum}|rawurlencode)">]
[<fieldset>
<legend><:bouton_radio_modere_priori:></legend>
<p>(#ENV{modere})<:forum_info_modere:></p>
</fieldset>]

[(#ENV*{previsu})]

<BOUCLE_G(GROUPES_MOTS)
	{forum=(#CONFIG{mots_cles_forums}|choixsiegal{oui,oui,jamais})}
	{articles==(#ENV{table}|choixsiegal{articles,'oui','.*'})}
	{breves==(#ENV{table}|choixsiegal{breves,'oui','.*'})}
	{rubriques==(#ENV{table}|choixsiegal{rubriques,'oui','.*'})}
	{syndic==(#ENV{table}|choixsiegal{syndic,'oui','.*'})}
>
[(#ID_GROUPE|in_any{#ENV**{ajouter_groupe},' '})
	<fieldset>
	<legend><:mots_clefs:> : #TITRE</legend>
		<INCLURE{fond=formulaires/choix_mots}{id_groupe}{ajouter_mot}{unseul}>
	</fieldset>
]</BOUCLE_G>
		
[(#ENV**{afficher_texte}|choixsiegal{'non', ' ',''})
[<input type="hidden" name="titre" value="(#ENV{titre})">]
<p class="bouton"><input type="submit" value="<:forum_valider:>"></p>]

[(#ENV**{afficher_texte}|choixsiegal{'non', '',' '})

    <!-- titre -->
	<fieldset>
    	<legend>Titre du message</legend>
	    <p><input type="text" name="titre" id="titre"[ value="(#ENV{titre})"] size="40"></p>
    </fieldset>
    
    <!-- texte -->
    <fieldset>
        <legend>Texte du message</legend>
	    [(#ENV**{texte}|barre_textarea{12,40})]
	    <p class="small">(Pour créer des paragraphes, laissez simplement des lignes vides.)</p>
	</fieldset>

    <!-- captcha -->
	<fieldset>
	    <legend>Captcha Anti-Spam</legend>
		<p>
		    <label>[(#ENV{question_captcha})]</label>
			<input type="text" name="reponse" value="">
		</p>
	</fieldset>
	
    <!-- lien hypertexte -->
	<fieldset>
	    <legend>Lien hypertexte (optionnel)</legend>
	    <p>(Si votre message se réfère à un article publié sur le Web, ou à une page fournissant plus d'informations, vous pouvez indiquer ci-après le titre de la page et son adresse.)</p>
	    <p>
	        <label for="nom_site_forum">Titre&nbsp;:</label>
	        <input type="text" name="nom_site_forum" id="nom_site_forum" value="#ENV{nom_site_forum}">
	   </p>
	    <p>
	        <label for="url_site">URL&nbsp;:</label>
        	<input type="text" name="url_site" id="url_site" style="text-align: left;" dir="ltr" value="#ENV{url_site}">
        </p>
	</fieldset>
	
    <!-- Qui êtes-vous -->
	<fieldset>
	    <legend>Qui êtes-vous&nbsp? (optionnel)</legend>
	<p>
        <label for="auteur">Votre nom (ou pseudonyme)</label>
    	<input type="text" class="forml" name="auteur" id="auteur" value="#ENV{auteur}" [ readonly="(#ENV{readonly})"]>
    </p>
	<p>
        <label for="email_auteur">Votre adresse e-mail</label>
    	<input type="text" name="email_auteur" id="email_auteur" value="#ENV{email_auteur}" [ readonly="(#ENV{readonly})"]>
    </p>
	</fieldset>

	[(#REM) Piege a robots spammeurs ]
	<p class="hide"><label for="nobot"><:antispam_champ_vide:></label>
	<input type="text" name="nobot" value="#ENV{nobot}" size="10"></p>

	<p class="bouton"><input type="submit" value="Voir ce message avant de le poster" /></p>
]

</form>
