html {
  margin: 0;
}

body {
  font-family: sans-serif;
  font-size: 1em;
  margin: 0;
}

a {
  opacity: 0.6;
  text-decoration: none;
}

a:active, a:link, a:visited {
  color: #0000CC;
}

a:hover, a:focus {
  color: #f80;
  text-decoration: underline;
}



/* Header */
#header {
  width: 100%;
  margin-bottom: 10px;
  float: left;
}

/* Menu */
#menu {
  background-color: #EAEAFF;
  float: left;
  width: 100%;
}

#menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  float: left;
  margin-left: auto;
  margin-right: auto;
}

#menu li {
  float: left;
  margin: 0;
  padding: 5px;
  margin-left: 10px;
  border: 1px solid #C4C4FF;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}


/* Footer */
#footer {
  width: 100%;
}


/* Container */
#container {
  width: 100%;
  float: right;
}

/* Right */
#container #right {
  width: 25%;
  float: right;
  border: 1px solid #C4C4FF;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin-right: 10px;
}

/* Content */
#container #content {
  width: 73%;
  margin-right: 1%;
  margin-left: 10px;
}

#container #content .index .article {
  border: 1px solid #C4C4FF;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

#container #content .index .project-list {
  border: 1px solid #C4C4FF;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  position: relative;
}

#container #content .index .project-list h3 {
  font-size: 1.1em;
  border-bottom: 1px dashed #C4C4FF;
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
  padding-bottom: 5px;
}

#container #content .index .project-list .link {
  position: absolute;
  right: 10px;
  top: 10px;
}